.shoppingBag p {
  font-size: 26px;
  padding-left: 30px;
  margin: 0;
}

.bagContent .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.model {
  display: flex;
  width: 50%;
}

.photo,
.info {
  display: inline-block;
  float: left;
}

.info {
  width: 50%;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;
}

img {
  width: auto;
}

.name {
  font-size: 14px;
  font-weight: 700;
}

.price {
  font-size: 17px;
  font-weight: 700;
}

.color,
.size,
.quantity {
  font-size: 12px;
}

.removeItem {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #f14a58;
}

.emptyBagMsg,
.afterPurchaseMsg {
  margin: auto;
}

.emptyBagMsg a {
  color: #f14a58;
  font-weight: 700;
}

.controlButtons {
  display: none;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}

.controlButtons .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emptyBagButton {
  background: transparent;
  border: none;
}

.buyNow {
  margin: 6% auto;
}


@media screen and (max-width: 1024px) {
  .bagContent .model {
    display: flex;
  }
}
